.blue{
    background-color: #13D1D4;
    color:white
}
.green{
    background-color:#3A4256;
    color:white
}
.black{
    background-color:#17D2BE;
    color:white
}
.info-container{
    height: 120px;
}